DEBUG_MODE=true
SECURITY_INPUT_FILTER="xss_clean"
TIMEZONE="Europe/Berlin"
ASSETS_PATH="/assets/"
MEDIA_BASE_PATH="/assets/media/"
MEDIA_IMAGE_PATH="/assets/media/images/"
MEDIA_FILES_PATH="/assets/media/files/"
MEDIA_GALLERY_PATH="/assets/media/gallery/"
DATABASE_MIGRATION_PATH="/database/migrations/"
DATABASE_SEEDER_PATH="/database/seeder/"
TEMPLATE_PATH="/views/"
TEMPLATE_EXTENSION=twig
TWIG_CACHE="/cache/twig"
TWIG_CACHE_ENABLED=true
TWIG_DEBUG=true
TWIG_AUTO_RELOAD=true
MAILER_DSN="smtp://user:pass@smtp.mailhost.de:587"
MAIL_FROM_ADDRESS="mail@example.com"
MAIL_FROM_NAME="My Name"
MAILER_TEMPLATES_PATH="/templates/emails"
CLI_COMMAND_PATH="app/Cli/Commands"
CACHE_DRIVER=chain
CACHE_CHAIN=file
CACHE_PREFIX=asterios:example
CACHE_SERIALIZER=json
CACHE_TTL_DEFAULT=3600
CACHE_REDIS_HOST=127.0.0.1
CACHE_REDIS_PORT=6379
CACHE_REDIS_TIMEOUT=2.0
CACHE_REDIS_DATABASE=0
CACHE_REDIS_PASSWORD=
CACHE_FILE_PATH="storage/cache"
CACHE_MYSQL_CONFIG_GROUP=default
CACHE_MYSQL_TABLE=cache_entries
