/vendor/
/tests/log/
.env
/.idea/
*.DS_Store
.phpunit.result.cache
.php-cs-fixer.cache
node_modules/
coverage-report/
phpunit-coverage.xml
phpunit-report.xml
.vscode/
.psonoci.toml
coverage.clover.xml
spec.coverage.clover.xml
/spec.coverage
phpinfo.html
.phan/.file
/coverage
cobertura.xml