<?xml version="1.0"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd"
         processIsolation="true"
         bootstrap="tests/bootstrap.php"
         colors="true"
         >
    <coverage>
        <include>
            <directory suffix=".php">./src</directory>
        </include>
        <report>
            <clover outputFile="./tests/log/coverage.xml"/>
        </report>
    </coverage>
    <testsuite name="Asterios/Test">
        <directory>tests/</directory>
    </testsuite>
    <logging>
        <junit outputFile="./tests/log/logfile.xml"/>
    </logging>
</phpunit>